
.idea/.idea.implementation-samples/.idea/

multitenancy-api/compose.yaml

multitenancy-api/.idea/.idea.MultitenancyApi/.idea/

multitenancy-api/MultitenancyApi/bin/Debug/net9.0/cs/

*.dll

multitenancy-api/MultitenancyApi/obj/

multitenancy-api/MultitenancyApi/bin/

multitenancy-api/MultitenancyApi/bin/Debug/net9.0/

multitenancy-api/.idea/.idea.multitenancy-api/.idea/

stripe-sample/compose.yaml

stripe-sample/.idea/.idea.StripeSample/.idea/

stripe-sample/StripeSample/bin/Debug/net9.0/cs/

stripe-sample/StripeSample/obj/

stripe-sample/StripeSample/bin/

stripe-sample/StripeSample/bin/Debug/net9.0/

stripe-sample/.idea/.idea.stripe-sample/.idea/

stripe-sample/StripeSample/appsettings.Development.json

stripe-sample/StripeSample/appsettings.json

core-identity-auth/CoreIdentityAuth/obj/

core-identity-auth/.idea/.idea.CoreIdentityAuth/.idea/

core-identity-auth/CoreIdentityAuth/bin/Debug/net9.0/

*.db

mediator-sample/compose.yaml

mediator-sample/.idea/.idea.MediatorSample/.idea/

mediator-sample/MediatorSample/bin/Debug/net9.0/cs/

mediator-sample/MediatorSample/obj/

mediator-sample/MediatorSample/bin/

mediator-sample/MediatorSample/bin/Debug/net9.0/

mediator-sample/.idea/.idea.mediator-sample/.idea/

mediator-sample/MediatorSample/appsettings.Development.json

mediator-sample/MediatorSample/appsettings.json
